# .gitignore for edx-documentation.
# There's a lot here, please try to keep it organized.

### IDEs and text editors
*~
*.swp
.idea/
.project
.pycharm_helpers/
.pydevproject
.vscode
venv/

### NFS artifacts
.nfs*

### OS X artifacts
*.DS_Store
.AppleDouble
:2e_*
:2e#

### Python artifacts
*.pyc

### Unknown artifacts
build
\#*\#
.env/
autodeploy.properties
.ws_migrations_complete

*.log
*.swp

### Doc health data
health.csv

### Conf file
shared/conf.py

### Translations and Transifex
.tx/
.doctrees

# transifex exe
tx

