en_us/course_authors/source/video/upload_video.rst merge=ignoreChanges
en_us/course_authors/source/video/add_video_to_course.rst merge=ignoreChanges
en_us/course_authors/source/video/create_preroll_video.rst merge=ignoreChanges
en_us/course_authors/source/video/prepare_video/index.rst merge=ignoreChanges
en_us/course_authors/source/video/prepare_video/set_up_host.rst merge=ignoreChanges
en_us/shared/video/prepare_video/create_video.rst merge=ignoreChanges
en_us/shared/video/prepare_video/obtain_transcript.rst merge=ignoreChanges
en_us/shared/video/prepare_video/set_up_host.rst merge=ignoreChanges
en_us/shared/video/video_process_overview.rst merge=ignoreChanges

